# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Rachel Brown
	email = brown.rachel.94@gmail.com
[core]
	editor = emacs

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
